*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 10vw;
}

nav{
    display: flex;
    align-items: center;
    gap: 4vw;

}
nav >a{
    color: rgb(49, 69, 132);
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.c-us{
    border: none;
    box-shadow: 4px 2px 5px;
    padding: 3vh 4vw ;
    background-color: white;
}

.c-us>span{
    color: rgb(255, 57, 70);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}


.section1{
    display: flex;
    padding: 4vh 10vw;
    gap: 10vw;

}
.section1>.img-s1>img{
    width: 40vw;
    height: 40vh;
}
.section1>.left-s1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
}
.section1>.left-s1>h1{
    width: 30vw;
    color:  rgb(49, 69, 132);

}
.section1>.left-s1>p{
    width: 30vw;
    color: rgb(49, 69, 132)b5;
}
.section1>.left-s1>.b-s1{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.section1>.left-s1>.b-s1>button{
    border: none;
    box-shadow: 4px 2px 5px;
    padding: 3vh 4vw ;
    background-color: rgb(255, 57, 70);
    border-radius: 30px;
}
.section1>.left-s1>.b-s1>button>span{
    color: white;
}
.section1>.left-s1>.b-s1>button~a{
    font-size: larger;
    color: rgb(49, 69, 132);
}
.section2{
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    padding: 2vh 10vw;
}
.section2>.child2-1{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: start;
    height: 30vh;
    justify-content: center;
    width: 15vw;
    padding: 2vh 2vw;
}
.section2>.child2-1>h2 , .section3>h2{
    color: rgb(49, 69, 132);

}
.section2>.child2-1>button{
    border-radius: 25px;
    background-color: rgb(255, 57, 70);
    border: none;
    color: white;
    padding: 1.5vh 1.5vw;
    width: fit-content
}
.section2>.child2-2 , .section2>.child2-3{
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 0.5px 2px 2px rgba(0, 0, 0, 0.092);
    gap: 2vh;
    width: 20vw;
    padding: 2vh 2vw;
    height: 30vh;
    justify-content: center;
}
.section2>.child2-2>h3 , .section2>.child2-3>h3{
    color:  rgb(49, 69, 132);

}
.section2>.child2-2>p , .section2>.child2-3>p{
    color:  rgb(49, 69, 132)b5;  
}
.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    align-items: start;
    padding: 2vh 15vw;

}
.section3>a{
    text-decoration: none;
    color: rgb(255, 57, 70);
    font-weight: bold;
    
}
.section3>form{
    display: grid;
    grid-template-areas: 
    'email subject'
    'message message' ;
    gap: 1rem;
   
}
.section3>form>.email{
    grid-area: email;
}
.section3>form>.subject{
    grid-area: subject;
}
.section3>form>input{
    background-color: rgb(244, 250, 254);
    width: 34vw;
    height: 3rem;
    border: none;
    padding: 1vh 1vw;
}
.section3>form>input::placeholder{
    color: rgb(49, 69, 132);
    opacity: 1;
    font-weight: bold;
}
.section3>form>textarea{
    height: 8rem;
    border: none;
    background-color: rgb(244, 250, 254);
    grid-area: message;
    color: rgb(49, 69, 132);
    font-weight: bold;
    padding: 1vh 1vw;
}
.section3>form>textarea:focus{
    outline: none;
}
.section3>form>input:focus{
    outline: none;
}
.section3>button{
    border-radius: 25px;
    background-color: rgb(255, 57, 70);
    border: none;
    color: white;
    padding: 1.5vh 1.5vw;
    width: fit-content;
    margin: 0 auto;
}
footer{
    background-color: rgb(49, 69, 132);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh;
}
footer>p{
    color: rgb(244, 250, 254);
}
footer>h1{
    color: rgb(255, 57, 70);
}
footer>div{
    display: flex;
    gap: 1rem;
    
}
footer>div>a{
    text-decoration: none;
    color:  rgb(244, 250, 254);
}
footer>.icons{
    color: rgb(244, 250, 254);
}
#menu , label{
    display: none;
}
@media (max-width:480px) {
    label{
        display: block;
    }
    label>svg{
        fill: rgb(49, 69, 132);
    }
    .section2{
        flex-direction: column;

    }
    .section2>.child2-1 , .section2>.child2-2 , .section2>.child2-3{
        width: 100%;
        align-items: center;
    }
    .section2>.child2-1>button , .section3>button{
        width: 80%;
    }
    .section2>.child2-1>h2{
        text-align: center;
    }
    nav{
        width: 20%;
        height: 100vh;
        right: -100%;
        flex-direction: column;
        position: fixed;
        background-color: white;
        align-items: start;
        justify-content: start; 
        padding: 10vh; 
    }
    .c-t{
        color: rgb(49, 69, 132);
    }
    .c-us{
        display: none;
    }
    #menu{
        display: none;
    }
    #menu:checked ~ nav{
        right: 0;
        top:0;
    }
    .close{
        align-self: end;
    }
    .section1{
        flex-direction: column;
    }
    .section1 > .left-s1 , .section1 > .left-s1>h1 , .section1 > .left-s1>p{
        width: 100%;
    }
    .section1 > .img-s1 >img{
        width: 100%;
    }
}